@import "../dist/webkit-sassui-icon-text.scss";
html,body{
  height:100%;
}
body{
  font-size: 14px;
}
h2{
  border-left: 3px solid #ccc;
  padding-left: 10px;
}
h3{
  color:#999;
  font-size: 14px;
  font-weight: normal;
}

.container {
  &:after {
    clear: both;
    content: "\200B";
    display: block;
    height: 0;
  }
  padding: 10px;
}

.test-webkit-sassui-icon-text {
  @include webkit-sassui-icon-text-y(48px,48px);
  float: left;
  width: 25%;
  box-sizing: border-box;
  + .test-webkit-sassui-icon-text{
    border-left: 1px solid #eee;
  }
}

.test-webkit-sassui-icon-text2{
  @include webkit-sassui-icon-text-x(16px,16px);
  margin-right: 20px;
}
