/*webkit-sassui-icon-text Start*/
.webkit-sassui-icon-text[data-align=top] > *, .webkit-sassui-icon-text_ > [data-align=top] > * {
  vertical-align: top;
}

.webkit-sassui-icon-text[data-align=middle] > *, .webkit-sassui-icon-text_ > [data-align=middle] > * {
  vertical-align: middle;
}

.webkit-sassui-icon-text[data-align=bottom] > *, .webkit-sassui-icon-text_ > [data-align=bottom] > * {
  vertical-align: bottom;
}

.webkit-sassui-icon-text > *, .webkit-sassui-icon-text_ > * > * {
  vertical-align: middle;
}

/*webkit-sassui-icon-text End*/
body {
  font-size: 14px;
}

h2 {
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

h3 {
  color: #999;
  font-size: 14px;
  font-weight: normal;
}

center {
  display: block;
  border: 1px solid salmon;
  margin: 40px auto;
}

center img {
  width: 24px;
  height: 24px;
}

center span {
  font-size: 12px;
  color: #999;
}

center .webkit-sassui-icon-text, center .webkit-sassui-icon-text_ > * {
  margin-right: 18px;
}

.h40 {
  height: 70px;
}

.h60 {
  height: 90px;
}

.h90 {
  height: 120px;
}
