/*webkit-sassui-icon-text Start*/
$webkit-sassui-icon-text-align-list:(top,middle,bottom);
.webkit-sassui-icon-text{
  @each $value in $webkit-sassui-icon-text-align-list{
    &[data-align=#{$value}]{
      > * {
        vertical-align: $value;
      }
    }
  }

  > * {
    vertical-align: middle;
  }
}

.webkit-sassui-icon-text_{
  & > *{
    @extend .webkit-sassui-icon-text;
  }
}

/*webkit-sassui-icon-text End*/
